body {
  background-color: #5dade2;
  text-align: center;
}

/* ESTILOS DE TITULO */
h1 {
  color: white;
  font-size: 90px;
}

#game-title1 {
  color: orange;
}

body,
button {
  font-size: 30px;
}

h3 {
  font-size: 30px;
}

/*CSS DE ELEGIR PERSONAJE */
#elegir-personaje {
  display: flex;
  justify-content: space-around;
  color: black;
  align-items: center;
  line-height: normal;
  margin: 100px;
}

#elegir-personaje section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#elegir-personaje img {
  width: fit-content;
  padding: 20px;
}

/*CSS DE INSTRUCCCIONES */
#instrucciones {
  display: flex;
  justify-content: space-around;
  color: black;
  align-items: center;
  line-height: normal;
}

#instrucciones p {
  display: inline;
  align-items: center;
  color: white;
  margin: 20px 0px;
}

#instrucciones img {
  height: 70px;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

.content {
  position: fixed;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}
